{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-light bg-black">
                    Car maintance is simple with CarFix
                </h1>
                <div class="my-3">
                    <p class="display-6 text-light bg-black px-1 py-1">
                        CarFix gives you the opportunity to get in contact with a mecahnic via video chat. The mechanic can help you with doing maintance and repairs on your car.
                    </p>
                    <p class="display-6 text-light bg-black px-1 py-1">
                        Please sign in to purchase credits and start hiring a mechanic today. 1 credit is = 15 minutes.
                    </p>
                </div>
                <div class="my-5">
                    <h4>
            {% if request.user.is_authenticated %}
                <a href="{% url 'subscriptions' %}" class="shop-now-button btn btn-main btn-lg text-uppercase py-3">Purchase Credits</a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="shop-now-button btn btn-main btn-lg text-uppercase py-3">Sign up to purchase credits</a>
            {% endif %}
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}