<div class="row">
    <div class="col container-brand-selector">
        <a href="{% url 'mechanics' %}?brands=audi">
            <img class="brand-selector" src="{{ MEDIA_URL }}Audi.png "{{ MEDIA_URL }}noimpage.png}"" alt="Audi logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=bmw">
            <img class="brand-selector" src="{{ MEDIA_URL }}BMW.png" alt="BMW logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=ford">
            <img class="brand-selector" src="{{ MEDIA_URL }}Ford.png" alt="Ford logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=honda">
            <img class="brand-selector" src="{{ MEDIA_URL }}Honda.png" alt="Honda logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=hyundai">
            <img class="brand-selector" src="{{ MEDIA_URL }}Hyundai.png" alt="Hyundai logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=mercedes">
            <img class="brand-selector" src="{{ MEDIA_URL }}Mercedes.png" alt="Mercedes logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=opel">
            <img class="brand-selector" src="{{ MEDIA_URL }}Opel.png" alt="Opel logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=peugeot">
            <img class="brand-selector" src="{{ MEDIA_URL }}Peugeot.png" alt="Peugeot logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=porsche">
            <img class="brand-selector" src="{{ MEDIA_URL }}Porsche.png" alt="Porsche logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=renault">
            <img class="brand-selector" src="{{ MEDIA_URL }}Renault.png" alt="Renault logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=toyota">
            <img class="brand-selector" src="{{ MEDIA_URL }}Toyota.png" alt="Toyota logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=volkswagen">
            <img class="brand-selector" src="{{ MEDIA_URL }}Volkswagen.png" alt="Volkswagen logo">
        </a>
    </div>
</div>