<div class="row">
    <div class="col container-brand-selector">
        <a href="{% url 'mechanics' %}?brands=audi">
            <img class="brand-selector" src="/media/Audi.png" alt="Audi logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=bmw">
            <img class="brand-selector" src="/media/BMW.png" alt="BMW logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=ford">
            <img class="brand-selector" src="/media/Ford.png" alt="Ford logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=honda">
            <img class="brand-selector" src="/media/Honda.png" alt="Honda logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=hyundai">
            <img class="brand-selector" src="/media/Hyundai.png" alt="Hyundai logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=mercedes">
            <img class="brand-selector" src="/media/Mercedes.png" alt="Mercedes logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=opel">
            <img class="brand-selector" src="/media/Opel.png" alt="Opel logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=peugeot">
            <img class="brand-selector" src="/media/Peugeot.png" alt="Peugeot logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=porsche">
            <img class="brand-selector" src="/media/Porsche.png" alt="Porsche logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=renault">
            <img class="brand-selector" src="/media/Renault.png" alt="Renault logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=toyota">
            <img class="brand-selector" src="/media/Toyota.png" alt="Toyota logo">
        </a>
        <a href="{% url 'mechanics' %}?brands=volkswagen">
            <img class="brand-selector" src="/media/Volkswagen.png" alt="Volkswagen logo">
        </a>
    </div>
</div>