
    <ul class="nav">
        <li class="nav-item">
             <a class="nav-link logo-font font-weight-bold text-dark" href="{% url 'mechanics' %}" id="find-mechanic-link" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-search fa-lg"></i></div>
                    <p class="my-0">Mechanics</p>
                </div>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link logo-font font-weight-bold text-dark" href="#" id="brand-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-car fa-lg"></i></div>
                    <p class="my-0">Brand</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="brand-link">
                <a href="{% url 'mechanics' %}?brands=audi" class="dropdown-item ">Audi</a>
                <a href="{% url 'mechanics' %}?brands=bmw" class="dropdown-item ">BMW</a>
                <a href="{% url 'mechanics' %}?brands=ford" class="dropdown-item ">Ford</a>
                <a href="{% url 'mechanics' %}?brands=honda" class="dropdown-item ">Honda</a>
                <a href="{% url 'mechanics' %}?brands=hyundai" class="dropdown-item ">Hyundai</a>
                <a href="{% url 'mechanics' %}?brands=mercedes" class="dropdown-item ">Mercedes</a>
                <a href="{% url 'mechanics' %}?brands=opel" class="dropdown-item ">Opel</a>
                <a href="{% url 'mechanics' %}?brands=peugeot" class="dropdown-item ">Peugeot</a>
                <a href="{% url 'mechanics' %}?brands=porsche" class="dropdown-item ">Porsche</a>
                <a href="{% url 'mechanics' %}?brands=renault" class="dropdown-item ">Renault</a>
                <a href="{% url 'mechanics' %}?brands=toyota" class="dropdown-item ">Toyota</a>
                <a href="{% url 'mechanics' %}?brands=volkswagen" class="dropdown-item ">Volkswagen</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link logo-font font-weight-bold text-dark" href="{% url 'subscriptions' %}" id="subscriptions-link" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-wrench fa-lg"></i></div>
                    <p class="my-0">Pricing</p>
                </div>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link logo-font font-weight-bold text-dark" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-center">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <p class="my-0">My Account</p>
                </div>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">Subscription Management</a>
                    {% endif %}
                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>


        <li class="nav-item">
            <a class="{% if total %}text-info font-weight-bold{% else %}text-dark{% endif %} nav-link" href="{% url 'view_cart' %}">
                <div class="text-center">
                    <div><i class="fas fa-shopping-cart fa-lg"></i></div>
                    <p class="my-0">
                        {% if total %}
                            €{{ total|floatformat:2 }}
                        {% else %}
                            €0.00
                        {% endif %}
                    </p>
                </div>
            </a>
        </li>
    </ul>