<div class="col">
    <form method="GET" action="{% url 'mechanics' %}">
        <div class="input-group w-100">
            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search mechanics">
            <div class="input-group-append">
                <button class="form-control btn btn-main border border-black rounded-0" type="submit">
                    <span class="icon">
                        <i class="fas fa-search"></i>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="col">
    <p class="text-muted mt-3 text-center text-md-right">
        {% if search_term or current_brands or current_sorting != 'None_None' %}
            <span class="small"><a href="{% url 'mechanics' %}">Clear search</a> | </span>
        {% endif %}
        There are {{ mechanics|length }} mechanics available for your search criteria{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
    </p>
</div>