{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">You've sucessfully hired a mechanic!</h2>
                <p>
                    The mechanic will contact you by email and/or phone to setup an appointment.
                </p>
                <p>
                    <a class="btn btn-outline-black rounded-0" href="{% url 'mechanics' %}">Back to Mechanics</a> {{ profile.total_credits }}
                </p>
            </div>
            
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}